{% load render_bundle render_endpoint from webpack_loader %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="ELFSH maakt het makkelijk om bij te houden
          wie er eet of kookt, en houd gemakkelijk kosten bij">
    <title>ELFSH</title>
    <link rel="stylesheet" href="/static/assets/bundles/style.css">
    <link rel="manifest" href="/static/progressive-manifest.json">
    <meta name="theme-color" content="#0000ff">
    <link rel="icon" href="/static/images/icon_64.png">
</head>
<body>
<div id="container">
    Ga naar de niewe website op <a href="https://elfsh.mousetail.nl">elfsh.mousetail.nl</a>
</div>
</body>
</html>